@font-face {
	font-family: "JF Flat Regular";
	src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'),
         url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
         url(../fonts/JF-Flat-regular.woff) format('woff'),
         url(../fonts/JF-Flat-regular.ttf) format('truetype');
	font-weight: bolder;
	font-style: normal
}
.upper-nav .bg-light{
        padding: 0px;
}
.sec-nav{
    background-color: #345E8B;
    
}
.sec-nav .navbar-light .navbar-nav .nav-link{
    	font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font:18px/34px Noto Kufi Arabic;
    color: #FFFFFF;
    margin-left: 20px;
}
.sec-nav .navbar-light .navbar-nav .nav-link:hover{
     background-color:#0079C2;
    font-weight: bold;
    border-radius:10px;
 
}
.slider .carousel-inner img {

  width: 100%;
   height: 80%;
   background-size: cover;
  }
.slider .carousel-caption h3{
    font: Bold 41px/78px Noto Kufi Arabic;
color: #FFFFFF;
    opacity: 1;
}
.slider a{
    color: #fff;
    background-color: #888;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin-top: 18%;
    margin-right: 25px;
    margin-left: 25px;
    
}
@media(max-width:576px){
    .slider .carousel-inner img {
   height: 60%;
  
  }
    .slider a{
   margin-top: 45%; 
}
    .product .card,.request .card,.brands img{
        margin-bottom:15px;
    }  
    .product .product-img  {
           width: 365px !important;
    }
    .product h4,.request h4,.ablik  h4{
           float: right;
        padding-right: 20px;
    }
    product h4{
        padding-right: 0px;
        
    }
    .product .float-left .arrow-btn{
             margin-bottom: -53px;
    }
    .request .float-left .arrow-btn{
            margin-bottom: -143px;
        
    }
    .ablik .float-left .arrow-btn{
            margin-bottom: -205px;
        
    }
    .ratings .content-ratings{
        display: flex;
        justify-content: center;
    }
    .brands .brands-img{
        display: flex;
        justify-content: center;
    }
    }
/*start most visited ratings*/
.ratings h4{
    font: Bold 30px/56px Noto Kufi Arabic;
    color: #C84D2D;
}
.ratings img{
       width: 270px;
    padding-bottom: 15px;
}
.ratings h3{
font: Bold 22px/42px Noto Kufi Arabic;
margin-bottom: -10px;
color: #FFFFFF;
}
.ratings .float-left .arrow-btn,.product .float-left .arrow-btn,.ablik .float-left .arrow-btn,.request .float-left .arrow-btn{
    background-color:#345E8B;
    color: #fff;
    margin-top: -80px;
}
/*end most visited ratings*/
/*start product luminance*/
.product h4{
    font: Bold 30px/56px Noto Kufi Arabic;
    color: #C84D2D;
}
.product h5{
	font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
font: 22px/42px Noto Kufi Arabic;
letter-spacing: 0px;
color: #000000;
}
.product span{
font:7px/32px Noto Kufi Arabic;
color: #000000;
}
.product .span-product{
    font: 17px/32px Noto Kufi Arabic;
color: #C84D2D;
    margin-right: 10px;
}
.product button{
    padding:5px 20px;
    background: #345E8B 0% 0% no-repeat padding-box;
border-radius: 4px;
    color: #fff;
}
.product .product-img {
           width: 580px;
    padding-bottom: 15px;
    box-shadow: 0px 3px 10px #0000000D;
border-radius: 8px;
}
/*end product luminance*/
/*start request*/
.request h4{
    font: Bold 30px/56px Noto Kufi Arabic;
    color: #C84D2D;
}
.request  h5{
font: 20px/42px Noto Kufi Arabic;
letter-spacing: 0px;
color: #000000;
}
.request span{
font:7px/32px Noto Kufi Arabic;
color: #000000;
}
.request .span-product{
    font: 17px/32px Noto Kufi Arabic;
color: #C84D2D;
    margin-right: 10px;
}
.request button{
    padding:5px 20px;
    background: #345E8B 0% 0% no-repeat padding-box;
border-radius: 4px;
    color: #fff;
}
/*end request*/
/*start brand*/
.brands h4{
    font: Bold 30px/56px Noto Kufi Arabic;
    color: #C84D2D;
}
.brands img{
    width:279px;
    border: 3px solid #E3E3E9;
border-radius: 10px;
width: 250px;
}
.brands .carousel-inner ul{
        margin-bottom: -3rem;
}
.brands .carousel-indicators li{
    height: 9px;
    width: 9px;
    margin: 2px;
    border-radius: 50%;
    background-color:#C84D2D;
}
.brands .carousel-indicators{
        margin-bottom: -3rem;
}

/*end brand*/
/*start ablik*/
.ablik h4{
    font: Bold 30px/56px Noto Kufi Arabic;
    color: #C84D2D;
    margin-top: 50px;
}
.ablik  h5{
font: 20px/42px Noto Kufi Arabic;
color: #000000;
}
.ablik span{
font:7px/32px Noto Kufi Arabic;
color: #000000;
}
.ablik .span-product{
    font: 17px/32px Noto Kufi Arabic;
color: #C84D2D;
    margin-right: 10px;
}
.ablik button{
    padding:5px 20px;
    background: #345E8B 0% 0% no-repeat padding-box;
border-radius: 4px;
    color: #fff;
}
.ablik .last-butt a :last-of-type{
    
    background-color:#F3F3F4;

}
/*end ablik*/
/*start all product*/
.all-product .head-product{
    background: #E3E3E3 0% 0% no-repeat padding-box;
    padding: 25px;
}
.all-product .head-product h3{
   font: Bold 25px/47px Noto Kufi Arabic;
color: #345E8B;
}
.all-product .card{
    border-radius:8px;
    margin-top: 30px;
}
.all-product img{
    height: 200px;
}

.all-product .card-body{
    background: #F8F8F8 0% 0% no-repeat padding-box;
}
.all-product h5{
    font:20px/42px Noto Kufi Arabic;
color: #252526;
}
.all-product p span{
font: Bold 21px/20px Noto Kufi Arabic;
letter-spacing: 0px;
color: #C84D2D;
}

.all-product  a p{
    background: #345E8B 0% 0% no-repeat padding-box;
    color: #fff;
    margin: -9px;
    padding: 10px;
border-radius:0px 0px 8px 8px;
}
/*end all product*/
/*start warranty-policy*/
.warranty-policy h2{
    margin-top: 30px;
    font: Bold 35px/67px Noto Kufi Arabic;
color: #252526;
}
.warranty-policy h6{
   font: Bold 23px/30px Noto Kufi Arabic;
letter-spacing: 0px;
color: #203850;
}
.warranty-policy p{
   font:23px/48px Noto Kufi Arabic;
color: #203850;
}
.warranty-policy p:last-of-type{
      margin-bottom: 200px;
}


/*end warranty-policy*/
/*start footer*/
.footer{
    background-color: #F3F3F4;
    color: #fff;
}
.footer h6{
    font: Bold 22px/42px Noto Kufi Arabic;
color: #345E8B;
}
.footer p:first-of-type{
    font: 18px/37px Noto Kufi Arabic;
color: #000000;
}
.footer a{
    font: 18px/30px Noto Kufi Arabic;
color: #000000;
}
.footer hr{
  background-color: #fff;
}
 .e-footer{background-color: #E3E3E3}
.e-footer i{
    background-color: #345E8B;
    color: #ffff;
   width: 61%;
    border-radius: 50%;
    padding-right: 6px;
    height: 58%;
    padding-top: 5px;
}
/*end footer*/