@font-face {
	font-family: "JF Flat Regular";
	src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'),
         url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
         url(../fonts/JF-Flat-regular.woff) format('woff'),
         url(../fonts/JF-Flat-regular.ttf) format('truetype');
	font-weight: bolder;
	font-style: normal
}
.upper-nav .bg-light{
        padding: 0px;
}
.sec-nav{
    background-color: #345E8B;
    
}
.sec-nav .navbar-light .navbar-nav .nav-link{
    	font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font:18px/34px Noto Kufi Arabic;
    color: #FFFFFF;
    margin-left: 20px;
}
.sec-nav .navbar-light .navbar-nav .nav-link:hover{
     background-color:#0079C2;
    font-weight: bold;
    border-radius:10px;
 
}
.slider .carousel-inner img {

  width: 100%;
   height: 80%;
   background-size: cover;
  }
.slider .carousel-caption h3{
    font: Bold 41px/78px Noto Kufi Arabic;
color: #FFFFFF;
    opacity: 1;
}
.slider a{
    color: #fff;
    background-color: #888;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin-top: 18%;
    margin-right: 25px;
    margin-left: 25px;
    
}
@media(max-width:576px){
    .slider .carousel-inner img {
   height: 60%;
  
  }
    .slider a{
   margin-top: 45%; 
}
    .product .card,.request .card,.brands img{
        margin-bottom:15px;
    }  
    .product .product-img  {
           width: 365px !important;
    }
    .product h4,.request h4,.ablik  h4{
           float: right;
        padding-right: 20px;
    }
    product h4{
        padding-right: 0px;
        
    }
    .product .float-left .arrow-btn{
             margin-bottom: -53px;
    }
    .request .float-left .arrow-btn{
            margin-bottom: -143px;
        
    }
    .ablik .float-left .arrow-btn{
            margin-bottom: -205px;
        
    }
    .ratings .content-ratings{
        display: flex;
        justify-content: center;
    }
    .brands .brands-img{
        display: flex;
        justify-content: center;
    }
    }
/*start most visited ratings*/
.ratings h4{
    font: Bold 30px/56px Noto Kufi Arabic;
    color: #C84D2D;
}
.ratings img{
       width: 270px;
    padding-bottom: 15px;
}
.ratings h3{
font: Bold 22px/42px Noto Kufi Arabic;
margin-bottom: -10px;
color: #FFFFFF;
}
.ratings .float-left .arrow-btn,.product .float-left .arrow-btn,.ablik .float-left .arrow-btn,.request .float-left .arrow-btn{
    background-color:#345E8B;
    color: #fff;
    margin-top: -80px;
}
/*end most visited ratings*/
/*start product luminance*/
.product h4{
    font: Bold 30px/56px Noto Kufi Arabic;
    color: #C84D2D;
}
.product h5{
	font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
font: 22px/42px Noto Kufi Arabic;
letter-spacing: 0px;
color: #000000;
}
.product span{
font:7px/32px Noto Kufi Arabic;
color: #000000;
}
.product .span-product{
    font: 17px/32px Noto Kufi Arabic;
color: #C84D2D;
    margin-right: 10px;
}
.product button{
    padding:5px 20px;
    background: #345E8B 0% 0% no-repeat padding-box;
border-radius: 4px;
    color: #fff;
}
.product .product-img {
           width: 580px;
    padding-bottom: 15px;
    box-shadow: 0px 3px 10px #0000000D;
border-radius: 8px;
}
/*end product luminance*/
/*start request*/
.request h4{
    font: Bold 30px/56px Noto Kufi Arabic;
    color: #C84D2D;
}
.request  h5{
font: 20px/42px Noto Kufi Arabic;
letter-spacing: 0px;
color: #000000;
}
.request span{
font:7px/32px Noto Kufi Arabic;
color: #000000;
}
.request .span-product{
    font: 17px/32px Noto Kufi Arabic;
color: #C84D2D;
    margin-right: 10px;
}
.request button{
    padding:5px 20px;
    background: #345E8B 0% 0% no-repeat padding-box;
border-radius: 4px;
    color: #fff;
}
/*end request*/
/*start brand*/
.brands h4{
    font: Bold 30px/56px Noto Kufi Arabic;
    color: #C84D2D;
}
.brands img{
    width:279px;
    border: 3px solid #E3E3E9;
border-radius: 10px;
width: 250px;
}
.brands .carousel-inner ul{
        margin-bottom: -3rem;
}
.brands .carousel-indicators li{
    height: 9px;
    width: 9px;
    margin: 2px;
    border-radius: 50%;
    background-color:#C84D2D;
}
.brands .carousel-indicators{
        margin-bottom: -3rem;
}

/*end brand*/
/*start ablik*/
.ablik h4{
    font: Bold 30px/56px Noto Kufi Arabic;
    color: #C84D2D;
    margin-top: 50px;
}
.ablik  h5{
font: 20px/42px Noto Kufi Arabic;
color: #000000;
}
.ablik span{
font:7px/32px Noto Kufi Arabic;
color: #000000;
}
.ablik .span-product{
    font: 17px/32px Noto Kufi Arabic;
color: #C84D2D;
    margin-right: 10px;
}
.ablik button{
    padding:5px 20px;
    background: #345E8B 0% 0% no-repeat padding-box;
border-radius: 4px;
    color: #fff;
}
.ablik .last-butt a :last-of-type{
    
    background-color:#F3F3F4;

}
/*end ablik*/
/*start all product*/
.all-product .head-product{
    background: #E3E3E3 0% 0% no-repeat padding-box;
    padding: 25px;
}
.all-product .head-product h3{
   font: Bold 25px/47px Noto Kufi Arabic;
color: #345E8B;
}
.all-product .card{
    border-radius:8px;
    margin-top: 30px;
}
.all-product img{
    height: 200px;
}

.all-product .card-body{
    background: #F8F8F8 0% 0% no-repeat padding-box;
}
.all-product h5{
    font:20px/42px Noto Kufi Arabic;
color: #252526;
}
.all-product p span{
font: Bold 21px/20px Noto Kufi Arabic;
letter-spacing: 0px;
color: #C84D2D;
}

.all-product  a p{
    background: #345E8B 0% 0% no-repeat padding-box;
    color: #fff;
    margin: -9px;
    padding: 10px;
border-radius:0px 0px 8px 8px;
}
/*end all product*/
/*start warranty-policy*/
.warranty-policy h2{
    margin-top: 30px;
    font: Bold 35px/67px Noto Kufi Arabic;
color: #252526;
}
.warranty-policy h6{
   font: Bold 23px/30px Noto Kufi Arabic;
letter-spacing: 0px;
color: #203850;
}
.warranty-policy p{
   font:23px/48px Noto Kufi Arabic;
color: #203850;
}
.warranty-policy p:last-of-type{
      margin-bottom: 200px;
}


/*end warranty-policy*/
/*start payment-delivery-option*/
.payment-delivery-option h2,.instruction h2{
    font: Bold 35px/67px Noto Kufi Arabic;
color: #252526;
    margin-top: 30px;
}
.payment-delivery-option p,.instruction p{
font: 23px/42px Noto Kufi Arabic;
color: #203850;
    margin-bottom:20px;
}
.payment-delivery-option p:last-of-type{
      margin-bottom: 100px;
}
/*end payment-delivery-option*/
/*start return-policy*/
.return-policy h2{
    font: Bold 35px/67px Noto Kufi Arabic;
color: #252526;
    margin-top: 30px;
}
.return-policy h5{
    font: Bold 23px/60px Noto Kufi Arabic;

color: #252526;
}
.return-policy p{
    font:23px/40px Noto Kufi Arabic;
   color: #203850;
}
.return-policy p:last-of-type{
      margin-bottom: 100px;
}
/*end return-policy*/
/*start login*/
.login .login-container {
    margin: 30px 174px;
}
.login .login-container .login-content{
        width: 521px;
border-radius: 0px 25px 25px 0px;
    overflow: hidden;
    padding: 30px 55px 30px 55px;
/*
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
*/
    box-shadow: 10px 10px 10px #ccc,0px -10px 10px #ccc;
}
.login .logo img{
    width:60px;
    height:60px;
    text-align: center;
}
.login .logo h2{
    font:  30px/56px Noto Kufi Arabic;
color: #8C93A0;
       margin-bottom: 10px;
    margin-top: 10px;
}
.login .login-content .input-form input{
   
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    font: 18px/34px Noto Kufi Arabic;
    color: #C9D3DC;
    text-align: right;
    background: #F5F8F9 0% 0% no-repeat padding-box;
   border-radius: 35px;
    border: none;
}
.login   a {
    font:  18px/34px Noto Kufi Arabic;

color: #C9D3DC;
}

.login .login-content .but-form button{
    border-radius: 40px;
    padding: 7px;
  margin-top: 30px;
    margin-bottom: 10px;
    width: 55%;
    font:  18px/25px Noto Kufi Arabic;
color: #FFFFFF;
    background-color: #345E8B;
    border: none;
   
}
.login .login-img img{
        width: 270px;
        height: 495px;
        border-radius: 25px 0px 0px 25px;
        box-shadow: 0px 10px 10px #ccc,-10px -10px 10px #ccc;
}
.login .count-img img{
        width: 280px;
        height: 639px;
        border-radius: 25px 0px 0px 25px;
        box-shadow: 0px 10px 10px #ccc,-10px -10px 10px #ccc;
}
.login .recovery-img img{
        width: 280px;
        height: 394px;
        border-radius: 25px 0px 0px 25px;
        box-shadow: 0px 10px 10px #ccc,-10px -10px 10px #ccc;
}
.login .check-login{
    font: 18px/34px Noto Kufi Arabic;
color: #B0C1D1;
    margin-right: 65px;
}
.login .check-login label{
   margin-right: 10px;
}
.login .call-content .input-form input{
    padding: 7px;
   margin-top: -6px;
    margin-bottom: 10px;
    width: 80%;
    font: 18px/34px Noto Kufi Arabic;
    color: #C9D3DC;
    text-align: right;
    background: #F5F8F9 0% 0% no-repeat padding-box;
   border-radius: 10px;
    border: none;
}
.login .call-content h2{
    font: Bold 35px/67px Noto Kufi Arabic;
color: #252526;
}
.login .call-content label{
    font: 20px/38px Noto Kufi Arabic;
    color: #252526;
}
.login .call-content .input-form textarea{
    padding: 7px;
    
    margin-bottom: 5px;
    width: 80%;
    font: 18px/34px Noto Kufi Arabic;
    color: #C9D3DC;
    text-align: right;
    background: #F5F8F9 0% 0% no-repeat padding-box;
   border-radius: 10px;
    border: none;
}
.login .call-content .but-form button{
    border-radius: 40px;
    padding: 7px;
  margin-top: 30px;
    margin-bottom: 10px;
    width: 40%;
    font:  18px/25px Noto Kufi Arabic;
color: #FFFFFF;
    background-color: #345E8B;
    border: none;
   
}
.login .call-img img{
        width: 350px;
       margin-top: 155px;
        
       
}
/*end login*/
/*start bage request done*/
.request-done img {
    width: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
    
}
.request-done h4 {
    font: Bold 26px/49px Noto Kufi Arabic;
color: #000000;
    
}
.request-done p {
    font: 18px/34px Noto Kufi Arabic;
color: #000000;
        margin-bottom: 35px;
}
.request-done button {
    font: 20px/17px Noto Kufi Arabic;
    color: #FFFFFF;
    background: #345E8B 0% 0% no-repeat padding-box;
    border-radius: 30px;
    border: none;
    padding: 10px 60px;
    margin-bottom: 50px;
}
/*start bage request done*/
/*start current product*/
.current-pro .content-current-pro{
    width: 1110px;
    padding: 30px 55px 30px 55px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 10px #0000000D;
border-radius: 20px;
}
.current-pro .current{
    font: Bold 25px/47px Noto Kufi Arabic;
color: #203850;
}
.current-pro .complete{
    font: Bold 25px/47px Noto Kufi Arabic;
    color: #FFFFFF;
    background: #203850 0% 0% no-repeat padding-box;
    border-radius: 40px;
        padding: 8px 41px;
}
.current-pro .content-current-pro img{
    width: 210px;
}
.current-pro .content-current-pro h4{
    font: Bold 28px/50px Noto Kufi Arabic;
color: #252526;
}
.current-pro .content-current-pro p{
   font:  18px/26px Noto Kufi Arabic;
color: #203850;
        padding: 0px 0px 5px 156px;
}
.current-pro .content-current-pro h6{
font:25px/45px Noto Kufi Arabic;
color: #203850;
}
.current-pro .content-current-pro span{
font: Bold 25px/35px Noto Kufi Arabic;
color: #203850;
}
.current-pro .content-current-pro .span-current-pro{
font: Bold 21px/47px Noto Kufi Arabic;
color: #C84D2D;
}
.current-pro .content-current-pro a{
color: #eee;
}

/*end current product*/
/*start special product*/
.sp-product .span-discount{
    font: Bold 18px/34px Noto Kufi Arabic;
    color: #FFFFFF;
    background: #C84D2D 0% 0% no-repeat padding-box;
    border-radius: 39px;
    padding: 3px 20px;
}
.sp-product .product-content h5{
    font: Bold 30px/56px Noto Kufi Arabic;
color: #252526;
     margin-top: 21px;
}
.sp-product .product-content p{
 font: Bold 25px/20px Noto Kufi Arabic;
color: #252526;
margin-top: 40px;
}
.sp-product .product-content .span-product{
 font: 22px/30px Noto Kufi Arabic;
color: #C84D2D;
    padding-right: 27px;
}
.sp-product .pragraph{
 font: 20px/60px Noto Kufi Arabic;
color: #8C93A0;
        margin-top: -45px;
}
.sp-product .evaluation span{
    font: 28px/35px Noto Kufi Arabic;
color: #9298A2;
 }
.sp-product .evaluation span .fa-star:before {
    color: #C84D2D ;
 }
.sp-product h5{
    font:26px/26px Noto Kufi Arabic;
color: #203850;
    margin-top: 15px;
}
.sp-product .product-option {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid #EBEBEB;
    text-align: center;
    justify-content: center; 
    color: #C2C2C2;
    margin: 10px 5px 9px 5px;
    box-shadow: 0px 3px 15px #00000014;
    border-radius: 36px;
}

.sp-product .product-option input {
    display: none;
}

.sp-product .product-option label {
    font-weight: 700;
    display: inline-block;
}

.sp-product .product-option.active {
    color: #F8AD47;
	border-color: #F8AD47;
}

.sp-product .color-option.active {
    border-color: #fff;
	outline: #000 solid 1px;
}
.sp-product button{
    font: 24px/21px Noto Kufi Arabic;
    color: #FFFFFF;
    background: #345E8B;
    border-radius: 35px;
    padding: 10px 20px;
    border: none;
    margin-top: 50px;
}
.sp-product .quantity span{
   font: 28px/31px Noto Kufi Arabic;
color: #8C93A0;
 
}
.sp-product .sec-content img{
        width: 530px;
}
.sp-product .sec-content h6{
    font: 27px/32px Noto Kufi Arabic;
    color: #9298A2;
    margin-top: 5px;
}
.sp-product .sec-content i{
  background-color: #ccc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}
/*end special product*/
/*start delivery-info*/
.delivery-info .delivery-content h3,.delivery-info .delivery-bill h3{
    background: #203850 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000D;
    border-radius: 4px;
    font:20px/14px Noto Kufi Arabic;
    color: #FFFFFF;
    height: 60px;
    padding-top: 20px;
}
.delivery-info .delivery-content .input-form input{
    padding: 10px;
   margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    font: 18px/34px Noto Kufi Arabic;
    color: #C9D3DC;
    text-align: right;
    background: #F5F8F9 0% 0% no-repeat padding-box;
   border-radius: 10px;
    border: none;
}
.delivery-info .delivery-content .input-form select{
    padding: 15px;
   margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    font: 18px/34px Noto Kufi Arabic;
    color: #C9D3DC;
    text-align: right;
    background: #F5F8F9 0% 0% no-repeat padding-box;
   border-radius: 10px;
    border: none;
}
.delivery-info .delivery-bill th,.delivery-info .delivery-bill td{
font: Bold 21px/35px Noto Kufi Arabic;
color: #252526;
}
.delivery-info .delivery-bill button{
background: #345E8B 0% 0% no-repeat padding-box;
border-radius: 30px;
font:20px/17px Noto Kufi Arabic;
color: #FFFFFF;
    border: none;
        padding: 8px 50px;
    margin-bottom: 10px;
}

/*end delivery-info*/
/*start footer*/
.footer{
    background-color: #F3F3F4;
    color: #fff;
}
.footer h6{
    font: Bold 22px/42px Noto Kufi Arabic;
color: #345E8B;
}
.footer p:first-of-type{
    font: 18px/37px Noto Kufi Arabic;
color: #000000;
}
.footer a{
    font: 18px/30px Noto Kufi Arabic;
color: #000000;
}
.footer hr{
  background-color: #fff;
}
 .e-footer{background-color: #E3E3E3}
.e-footer i{
    background-color: #345E8B;
    color: #ffff;
   width: 61%;
    border-radius: 50%;
    padding-right: 6px;
    height: 58%;
    padding-top: 5px;
}
/*end footer*/